{% extends "blog/base.html" %}
{% block content %}

<p>Hello Everyone!</p>

<p>I am Mitchell. I graduated from the University of Minnesota with a bachelor's degree in Computer Science in 2018. I have been passionate about computers and related technology for the majority of my life. During high school, I got into building gaming computers for myself and friends. However, I later became interested in software towards the end of high school. I wanted to know how software really works behind the scenes.</p>

<p>I created this blog mostly to document some amateur research or opinions I have about technology topics and other issues. Some technology concepts I would like to research include Operating Systems, Networking, Security, Blockchain, Spatial Computing, Algorithms, Development Utilities, etc. Even though I have been around computers for most of my life and chose to study Computer Science, I personally do not think computers or various forms of digitalization are not the answer to everything in our daily lives. So I also plan to blog about my thoughts on topics that overuse technology as well.</p>

<script>
    $('#about_nav').removeClass('text-muted');
</script>
{% endblock %}
